@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 208 100% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 208 100% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 275 100% 25.5%;
    --primary-foreground: 300 100% 97%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 9% 25%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 300 100% 25.1%;
    --accent-foreground: 300 100% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 91%;
    --ring: 275 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 208 100% 97%;
    --card: 224 71.4% 6.1%;
    --card-foreground: 208 100% 97%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 208 100% 97%;
    --primary: 275 80% 65%;
    --primary-foreground: 275 100% 15%;
    --secondary: 220 13% 15%;
    --secondary-foreground: 208 100% 97%;
    --muted: 220 13% 15%;
    --muted-foreground: 220 9% 55%;
    --accent: 300 80% 65%;
    --accent-foreground: 300 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 275 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
